@model Blog.ViewModels.UserEditViewModel
@{
    ViewBag.Title = "UserEdit";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<br />
<h4 class="mb-3">Редактирование пользователя</h4>
<hr class="my-4" />
    
<form class="needs-validation" novalidate asp-controller="Account" asp-action="Edit">
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="Id" type="hidden" />
    @for (int i = 0; i < Model.Roles.Count; i++)
    {
        <div class="form-check">
            @if (Model.Roles[i].Name == "Пользователь")
            {
                <input type="checkbox" class="form-check-input" id="flexCheckDefault" disabled checked />
            }
            else
            {
                @Html.CheckBoxFor(model => model.Roles[i].IsChecked, new { @class="form-check-input", @id="flexCheckDefault", } )
                //<input type="checkbox" class="form-check-input" value="" id="flexCheckDefault" />
            }
            <label class="form-check-label" for="flexCheckDefault">@Model.Roles[i].Name</label>
            @Html.HiddenFor(model => model.Roles[i].Id)
            @Html.HiddenFor(model => model.Roles[i].Name)
            @Html.HiddenFor(model => model.Roles[i].Description)
        </div>
    }
    <div class="row g-3">
        <div class="col-12">
            <label for="firstname" class="form-label">Имя</label>
            <input asp-for="FirstName" type="text" class="form-control" id="firstName" placeholder required />
            <span asp-validation-for="FirstName" class="text-danger"></span>
            <div class="invalid-feedback">
                " Введите имя"
            </div>
        </div>
        <div class="col-12">
            <label for="lastname" class="form-label">Фамилия</label>
            <input asp-for="LastName" type="text" class="form-control" id="lastName" placeholder required />
            <span asp-validation-for="LastName" class="text-danger"></span>
            <div class="invalid-feedback">
                " Введите фамилию"
            </div>
        </div>
        <div class="col-12">
            <label for="username" class="form-label">Никнейм</label>
            <input asp-for="UserName" type="text" class="form-control" id="lastName" placeholder required />
            <span asp-validation-for="UserName" class="text-danger"></span>
            <div class="invalid-feedback">
                " Введите никнейм"
            </div>
        </div>
        <div class="col-12">
            <label for="email" class="form-label">Почтовый адрес</label>
            <input asp-for="Email" type="email" class="form-control" id="email" placeholder="you@example.com" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <div class="invalid-feedback">
                " Введите коректный адрес электронной почты"
            </div>
        </div>
        <div class="col-12">
            <label for="password" class="form-label">Пароль</label>
            <input asp-for="Password" type="password" class="form-control" id="password" placeholder="**********" />
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="invalid-feedback">
                " Введите корректный пароль"
            </div>
        </div>
    </div>
    <hr class="my-4" />
    <button class="btn btn-primary" type="submit">Сохранить</button>
</form>
